body
{
    background-color: rgb(182, 181, 181); 
    width: 1000px; 
    margin: auto;
}

h1
{
    font-size: 32px;
    font-family: sans-serif;
}

h2
{
    font-size: 32px;
}

h3
{
    font-size: 24px;
}

h4
{
    font-size: 20px;
}

h5
{
    font-size: 16px;
}

h6
{
    font-size: 14px;
}

        /* NAV */
nav{
    padding-top: 10px;
    display: flex;
    flex-direction: row;
}
nav ul{
    display: flex;
    flex-direction: row;
}
nav li{
    align-items: center;
    display: flex;
    margin-left: 10px;
    text-decoration: none;
}
nav a{
    text-decoration: none;
    font-size: 16px;
    font-family: sans-serif;
    color: white;
}
nav .right{
    display: flex;
    margin-left: auto;
    margin-right: 60px;
}
nav p{
    display: flex;
    padding-left: 100px;
    font-family: Aller;
    font-size: 20px;
}
        /*HEADER*/
header
{
    height: 600px;
    width: 1000px;
    background-image: url("tlo.jpg") ;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: absolute;
    background-size: cover;
    filter:brightness(110%) saturate(80%);
    color:white;
}
p
{
    font-size: 16px;
    color: #fff;
}

.lewyGornyRog 
{
    float:left;
    width: 42%;
    padding: 10px 0 0 50px;
}

.prawyGornyRog
{
    padding: 10px 50px;
    text-align: right;
    float: right;
    width: 42%;
    word-spacing:10px;
}

.srodek
{
    position: absolute;
    text-align: center;
    top: 35%;
    width:100%;
}

.dol
{
    position: absolute;
    text-align: center;
    top: 70%;
    width:100%;
}

.signUp
{
    position: absolute;
    text-align: center;
    top: 80%;
    width: 100%;
}

.text
{
    border-radius: 5px 0 0 5px;
    color: grey;
    width: 220px;
    height: 40px;
}

.submit
{
    background-color: #51a200;
    width: 130px;
    height: 46px;
    margin:0 -10px;
    border-radius:0 5px 5px 0;
}