@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500;600&display=swap');
body
{
    background-color: rgb(182, 181, 181); 
    width: 1000px; 
    margin: auto;
}

h1
{
    font-size: 32px;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
}
h2
{
    font-size: 32px;
}

h3
{
    font-size: 24px;
}

h4
{
    font-size: 20px;
}

h5
{
    font-size: 16px;
}

h6
{
    font-size: 14px;
}

p
{
    font-size: 16px;
    color: #fff;
}

        /*HEADER*/
header
{
    height: 600px;
    width: 1000px;
    background-image: url("tlo.jpg") ;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: absolute;
    background-size: cover;
    filter:brightness(110%) saturate(80%);
    color:white;
}

    /* NAV */
    nav{
        padding-top: 10px;
        display: flex;
        flex-direction: row;
    }
        nav ul{
            display: flex;
            flex-direction: row;
        }
        nav li{
            align-items: center;
            display: flex;
            margin-left: 10px;
            text-decoration: none;
        }
        nav a{
            text-decoration: none;
            font-size: 16px;
            font-family: sans-serif;
            color: white;
        }
        nav .right{
            display: flex;
            margin-left: auto;
            margin-right: 60px;
        }
        nav p{
            display: flex;
            padding-left: 100px;
            font-family: Aller;
            font-size: 20px;
        }
    .mid 
    {
        position: relative;
        margin: auto;
        top: 22%;
        text-align:center;
    }
    .mid span{
        font-weight:600;
    }
    .mid p{
        font-size: 16px;
        font-family: 'Open Sans', sans-serif;
        font-weight:400;
        line-height: 2px;
        letter-spacing: 0.05em;
    }

.bottom
{
    position: absolute;
    text-align: center;
    top: 70%;
    width:100%;
}

.signUp
{
    position: absolute;
    text-align: center;
    top: 80%;
    width: 100%;
}

.text
{
    border-radius: 5px 0 0 5px;
    color: grey;
    width: 220px;
    height: 40px;
}

.submit
{
    background-color: #51a200;
    width: 130px;
    height: 46px;
    margin:0 -10px;
    border-radius:0 5px 5px 0;
}