@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

body {
  margin: 0;
  padding: 0;
  background: #2c4966;
  font-family: "Montserrat", sans-serif;
  color: #edf0f1;
  text-decoration: none;
}

.box {
  border-radius: 20px;
  width: 600px;
  padding: 40px;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #191919;
  text-align: center;
}

.boxes {
  background: none;
  color: #edf0f1;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  text-decoration: none;
  display: block;
  margin: auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 10px;
  outline: none;
  border-radius: 24px;
  transition: 0.25s;
  width: clamp(200px, 70vw, 500px);
}

label {
  display: flex;
  flex-direction: column;
  gap: 3px;
  margin: 30px auto;
}

.boxes:focus {
  width: clamp(220px, 80vw, 550px);
  border-color: #2ecc71;
}

.submit {
  border: 0;
  background: none;
  cursor: pointer;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}

.submit:hover {
  background: rgb(4, 179, 141);
}

@media only screen and (max-width: 500px) {
  .box {
    position: relative;
    margin: 20px auto 0;
    transform: translate(0, 0);
    top: 0;
    left: 0;
    width: 100vw;
    padding: 10px 0;
    border-radius: 0;
  }
  label {
    margin: 20px auto;
  }
}
