.Gist_List {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
  width: clamp(320px, 80%, 650px);
  padding-bottom: 1rem;
  text-align: center;
  background: #191919;
  margin: 4% auto 0;
}

ul {
  list-style: none;
  margin: 0px;
}

li {
  margin: 10px 0px;
}

a {
  margin-right: 20px;
}

button {
  border: 0;
  background: none;
  cursor: pointer;
  margin-left: 15px;
  text-align: center;
  padding: 5px 20px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}
.paginacja {
  border-radius: 10px;
  margin: 10px auto;
  width: clamp(300px, 90%, 800px);
  padding: 10px;
  position: relative;
  background: #191919;
  text-align: center;
}

.paginacja button {
  margin: 0 1px;
  padding: 0 5px;
}

.usun {
  border: 2px solid #cc290c;
}
.edit {
  border: 2px solid #ccbf0c;
}
.public {
  margin-top: 20px;
  border: 2px solid rgb(0, 141, 141);
  padding: 10px 20px;
}

.usun:hover {
  background-color: rgb(255, 80, 80);
}

.edit:hover {
  background-color: darkgoldenrod;
}

.public:hover {
  background-color: #1e3e44;
}

@media only screen and (max-width: 500px) {
  .Gist_List {
    margin: 6% auto 0;
  }
}
