@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

header {
  align-items: center;
  background-color: #24252a;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0 10%;
}

header a,
header p,
header h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  color: #edf0f1;
  text-decoration: none;
}

ul {
  list-style: none;
}

ul li {
  display: inline-block;
  padding: 0px 20px;
}

ul li a {
  transition: all 0.3s ease 0s;
}

ul li a:hover {
  color: #0088a9;
}

@media only screen and (max-width: 500px) {
  header .li,
  header li,
  header p,
  header h1 {
    font-size: 0.5rem;
  }

  li {
    margin: 0;
  }

  ul {
    padding: 0;
  }

  ul li {
    padding: 0 5px;
  }

  a {
    margin-right: 0;
  }

  nav h2 {
    margin: 0;
  }

  header {
    padding: 0 1%;
  }
}
