.form{
    background-color: red;
    position: absolute;
    justify-content: center;
    top: 15%;
    left: 50%;
    -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 100px;
}

nav{
    background-color: bisque;
    display: flex;
    justify-content: center;
    padding: 20px;
    margin: auto;
    top: 15%;

}

button{
    background-color: grey;
    margin: 10px;
    width: 100px;
    height: 50px;
    border-radius: 25px;
}

.buttons{
    padding: 10px;
    position: absolute;
    top: 30%;
    left: 50%;
    -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

form{
  background-color: aquamarine;
  width: 500px;
  height: 500px;
}

.Gist_List{
  background-color:rgb(235, 235, 235);
  border-style: solid ;
  width: 80%;
}
.Gist_List h2{
  left: 50%;
}